<%= form_for :user, url: '/signin' do |f| %>
  <p>User: <%= f.collection_select :name, User.all, :id, :name %></p><br/>
  <%if !!@user.admin && @user.admin%>
    <p>Password: <%= f.text_field :password %></p>
  <%end%>
  <%= f.submit "Submit" %>
<% end %>