<%= form_for :user, url: '/signin' do |f| %>
  <p>User: <%= f.collection_select :name, User.all, :id, :name %></p><br/>
 <p> Password: <%= f.text_field :password %></p>
  <%= f.submit "Submit" %>
<% end %>